<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      layout:decorate="~{layouts/smarttable}">
    <head>
        <title>List of potential Exams</title>
    </head>
    <body >
    <main th:fragment="content">  
    
    <div class="info" th:if="${globalMessage}" th:text="${globalMessage}">Some Success message</div>
  
<nav class="tabs" th:include="~{fragments/nav :: exam}" />
  
  
  
  <div class="row">
  	<div>
  		
  		<table id="exam" class="smart msgList">
  			<thead><tr>
  					<th>Title</th>
     				<th>Action</th>
     		</tr></thead>
     		<th:block th:if="${examList.size()}>0">
     		<tr th:each="e : ${examList}">
     				<td th:text="${e.title}">Title of the exam</td>
  					<td >
  					<a th:href="@{/exam/{id}(id=${e.id})}">Start this test</a>
     		</tr >
     		
     		</th:block>
     		<th:block th:unless="${examList.size()}>0"> 
     		<tr>
     		<td  colspan="5" th:text="'No message for now'" />
     		</tr>
     		</th:block>
  		</table>
 	 </div>
 </div>
 
 </main>
    </body>
</html>